<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile=".\internal_logs\internallog.txt">
	<targets>
		<target name="database" xsi:type="Database">
			<connectionString>Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=RollCallDb;Integrated Security=True;Connect Timeout=30;Encrypt=False;Trust Server Certificate=False;Application Intent=ReadWrite;Multi Subnet Failover=False</connectionString>
			<commandText>
				insert into dbo.Log (
				MachineName, Logged, Level, Message,
				Logger
				) values (
				@MachineName, @Logged, @Level, @Message,
				@Logger
				);
			</commandText>
			<parameter name="@MachineName" layout="${machinename}" />
			<parameter name="@Logged" layout="${date}" />
			<parameter name="@Level" layout="${level}" />
			<parameter name="@Message" layout="${message}" />
			<parameter name="@Logger" layout="${logger}" />
		</target>
	</targets>
	<rules>
		<logger name="*" minlevel="Debug" writeTo="database" />
	</rules>
</nlog>